.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #8A2BE2;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="number"] {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.form-container h4 {
    margin-bottom: 10px;
    color: #fff;
}

.form-container button {
    padding: 12px 24px;
    background-color: #240a3c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.form-container button:hover {
    background-color: #48137a; /* Darker color on hover */
}